.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #888cb7;
  margin: 16px 0 20px 0;
}

.wrapper h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 7px 0 4px 0;
}

.welcome {
  font-size: 10px;
  margin: 0 0 3px 0;
  color: #A2A4B9;
}

.plan {
  font-size: 14px;
  color: #A2A4B9;
}

.plan span {
  color: #33d69f;
}
