.wrapper {
  display: flex;
  width: 100%;
}

.container {
  flex: 1 1 auto;
  margin: 0 0 0 306px;
}

.content {
  max-width: 980px;
  padding: 37px;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 0 0 250px;
  }
  .content {
    padding: 25px;
  }
}

@media (max-width: 780px) {
  .container {
    margin: 0;
  }
}
